# macOS
.DS_Store

# Environment variables
.env

# Visual Studio Code
.vscode/

# Editor backup files
*~

# Build artifacts
know.dot
know.jsonld
know.nq
know.nt
know.rdf
know.rj
know.schema.json
know.trig
know.trix
know.ttl
